@model Course
@{
    ViewData["Title"] = "VCourse";
}
<h1> Course Details </h1>

<form method="post" asp-action="VCourse">

    <div asp-validation-summary="All" class="alert" style="position: absolute; left: 52px; top: 65px">

        @Html.Partial("CourseSummary")

    </div>

    <div style="position: absolute; left: 671px; top: 286px">
        <button class="button" asp-action="Course" asp-controller="Course" type="submit" tabindex="9">
            Back to List
        </button>
    </div>

</form>
