@page
@model KarlaR_300997958.Views.Home.IndexModel
@{
   Layout = "_GallawayLayout";
}
<!DOCTYPE html>
<html>
<body>
    <img asp-append-version="true" src="~/images/Galway.jpg" alt="Gallaway College" height="331"
         longdesc="picture extract from galwaytourism.ie " style="float: right" width="1300" />

    <h4>
        @ViewBag.Greeting,
        <br> Welcome to Gallaway College!
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan tellus eget lobortis consequat.
        Mauris malesuada leo sit amet ligula lobortis dignissim. Morbi sollicitudin, nibh et maximus venenatis,
        mauris nisi pharetra tellus, at porttitor dui mauris tincidunt ex. Fusce ultrices tempus sapien sit amet tristique.
        Aliquam convallis velit id sapien venenatis, id malesuada ante cursus. Phasellus scelerisque ultricies ante eget ultricies.
        Nulla nec finibus lacus, bibendum commodo purus. Vestibulum dignissim, sem at volutpat lacinia, enim enim dignissim dolor,
        vitae dapibus turpis est at diam. Etiam et dignissim lacus, non sagittis est. Pellentesque nec ornare dolor, quis fermentum
        ipsum. Sed non sem dapibus, maximus mauris ut, fringilla sapien.<br>
        Sed et nibh nunc. Donec scelerisque metus a tempor malesuada. Fusce condimentum ornare metus sed ornare. Cras maximus malesuada
        sem in eleifend. Pellentesque in tortor id nibh sagittis dignissim. Integer id bibendum ligula, vitae pharetra urna.
        Pellentesque lobortis eget lacus a mollis. Etiam laoreet urna sit amet enim pharetra, at posuere urna ornare.
    </p>
</body>
</html>
