@model Faculty
@{
    ViewData["Title"] = "DFaculty";
}
<h1> Faculty Delete </h1>

<form method="post" asp-action="DFaculty">

    <div asp-validation-summary="All" class="alert" style="position: absolute; left: 52px; top: 65px">

        @Html.Partial("FacultySummary")

    </div>

    <div style="position: absolute; left: 589px; top: 286px">

        <input type="hidden" asp-for="FacultyCode" />
        <input type="hidden" asp-for="FacultyName" />
        <input type="hidden" asp-for="FacultySurname" />
        <input type="hidden" asp-for="FacultyEMail" />
        <input type="hidden" asp-for="FacultyCourse" />

        <button class="button" asp-action="DFaculty" asp-controller="Faculty" type="submit" tabindex="11">
            Delete
        </button>
        <button class="button" asp-action="Faculty" asp-controller="Faculty" type="submit" tabindex="13">
            Cancel
        </button>
    </div>

</form>

